aryn_sdk==0.2.10
camelot_py==1.0.0
chunkr_ai==0.3.1
contextily==1.6.2
docxtpl==0.20.0
geopandas==1.0.1
matplotlib==3.10.3
opencv_python_headless==4.11.0.86
option==2.1.0
pandas==2.3.1
pdf2image==1.17.0
pillow==11.3.0
pydantic==2.11.7
pydantic_ai==0.4.9
PyPDF2==3.0.1
python_docx==1.1.2
Requests==2.32.4
streamlit_extras==0.7.5
shapely==2.1.1
geopy==2.4.1
model2vec==0.6.0
beautifulsoup4==4.13.4
spacy==3.7.6
scikit-learn==1.7.1
streamlit==1.48.1
PyPDF2==3.0.1
numpy<2

# huggingface-hub[cli] is downloaded seperately, for no particular reason
